doctype html
html
    head
        title Arts and Crafts | Deleted Account
    body
        h1(style="color:#29a329; font-size:45px; font-family:'Times New Roman';")  Arts and Crafts
        p(style="color:black; font-size:22px; font-family:'Times New Roman';") Hi #{first_name},
        p(style="color:black; font-size:18px; font-family:'Times New Roman';") Unfortunetely, you did not verify your Arts and Crafts account before the end of your verification period. The account associated with this email has been permanentely deleted. 
        p(style="color:black; font-size:18px; font-family:'Times New Roman';") We are sorry to see you go. If you wish to come back, you will need to create a new account at 
            a(style="color:#29a329;" href="https://art-crafts-site.herokuapp.com/" target="_blank") www.artsandcrafts.com
        footer
            p(style="color:black; font-size:14px; font-family:'Times New Roman';") This email was sent from a no-reply email address.<strong>Please do not respond.</strong>
            p(style="color:black; font-size:14px; font-family:'Times New Roman';") If you have any questions or concerns regarding your account or any purchases, please email <a style="color:#29a329;" href="mailto:artsandcraftssuppliesacs@gmail.com">Arts and Crafts Supplies ACS</a> 