doctype html
html
    head
        title Arts and Crafts | Reset Password
    body
        h2(style="color:black; font-size:40px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;") Arts and Crafts
        h3(style="font-size: 25px; color:black; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;") Reset Password
        div
            p(style="font-size: 18px; color:black; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;") You are recieving this email because you submitted a request to  
                <a style="color:#29a329;" href="https://art-crafts-site.herokuapp.com/reset-password/new-password/#{user_ID}"> reset your password.</a>
            p(style="font-size: 18px; color:black; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;") Note that this link is only valid for <strong>1 hour</strong>. Please change your password as soon as you recieve this email.
            p(style="font-size: 18px; color:black; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;") If you did not request to change your password, someone may be trying to access your information.
            p(style="font-size: 18px; color:black; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;") Please do not forward this email to anyone.
        footer
            p(style="color:black; font-size:14px; font-family:'Times New Roman';") This email was sent from a no-reply email address.<strong>Please do not respond.</strong>
            p(style="color:black; font-size:14px; font-family:'Times New Roman';") If you have any questions or concerns regarding your account or any purchases, please email <a style="color:#29a329;" href="mailto:artsandcraftssuppliesacs@gmail.com">Arts and Crafts Supplies ACS</a> 