doctype html
html
    head
        title Arts and Crafts | Verification
    body
        h1(style="color:#29a329; font-size:45px; font-family:'Times New Roman';") Welcome to Arts and Crafts Supplies!
        p(style="color:black; font-size:18px; font-family:'Times New Roman';") We ship a variety of arts and crafts supplies all across the world, just name the time and place. All you need to do is click the following link to <a style="color:#29a329;" href="https://art-crafts-site.herokuapp.com/verified_successfully/#{user_ID}" target='_blank'>verify your account.</a>
        p(style="color:black; font-size:18px; font-family:'Times New Roman';") Please note that any accounts not verified within <strong>two weeks</strong> will be <strong>permanently deleted</strong> and you will be required to make a new account.
        footer
            p(style="color:black; font-size:14px; font-family:'Times New Roman';") This email was sent from a no-reply email address.<strong>Please do not respond.</strong>
            p(style="color:black; font-size:14px; font-family:'Times New Roman';") If you have any questions or concerns regarding your account or any purchases, please email <a style="color:#29a329;" href="mailto:artsandcraftssuppliesacs@gmail.com">Arts and Crafts Supplies ACS</a> 