/* Forgot Password Page */

#forgot-title {
    font-family: fantasy;
    white-space: nowrap;
    font-size:100px !important;
    margin-top:200px !important;
}

#forgot-subtitle {
    font-size:40px !important;
    margin-top:20px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.forgot-instructions {
    font-size:22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.email-to-retrieve-password-input {
    width:600px;
    height:40px;
    border:1px solid black;
    border-radius:5px;
    text-indent:10px;
}

.btn-dark {
    margin-top:40px;
}

.empty-field {
    color:red;
    font-family: Arial, Helvetica, sans-serif;
}

.missing-field {
    border: 1px solid red !important;
}





/* Mobile Forgot Password Page*/

@media(max-width:630px) {
    #forgot-title {
        font-size:60px !important;
    }
    .email-to-retrieve-password-input {
        width:400px;
    }
    .forgot-instructions {
        white-space: normal;
        width:400px;
    }
}

@media(min-width:631px) and (max-width:800px) {
    #forgot-title {
        font-size:80px !important;
    }
    .email-to-retrieve-password-input {
        width:500px;
    }
}

@media(max-width:500px) {
    #forgot-title {
        margin-left:80px;
    }

    #forgot-subtitle {
        margin-left:80px;
    }

    .forgot-instructions {
        margin-left:80px;
    }
}



