
/* Change Password Page */

.change-password-title {
    font-family: fantasy;
    font-size:120px;
    white-space: nowrap;
    color:white;
    margin-left:-250px;
    text-shadow: 5px 5px 5px #133a13;
}

.change-password-subtitle {
    color:#133a13;
    font-size:25px;
    margin-top:100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.change-password,
.change-password-confirm {
    width:300px !important;
    margin-top:9px !important;
    background: white !important;
    box-shadow: 3px 3px 3px #133a13 !important;
    border:1px solid #133a13 !important;
}

.missing-field {
    border: 1px solid red !important;
}


#resetForm i {
    position:relative; 
    left:267px;
    top:43px;
    color:white;
    width:28px;
    height:28px;
    transform: scale(1.1);
    background-color: #133a13;
    padding:5px;
    border-radius: 0px 3px 3px 0px;
    cursor:pointer;
}

#hidePassword {
    display:none;
}


#resetBtn {
    background-color:#133a13;
    color:white;
    box-shadow: inset 5px 5px 15px -2px  #84e184;
    border:2px solid #1f601f;
    margin-top:50px;
    font-family: Arial, Helvetica, sans-serif;
}

#resetBtn:hover {
    background-color:#1f601f;
}


#resetBtn:active {
    background-color:#133a13;
}

.updated-password {
    font-size:24px;
    white-space:nowrap;
    color:#133a13;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.redirect-to-main-page {
    margin-right:20px;
    color:#133a13;
    text-decoration: underline;
    font-size:20px;
    margin-left:120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.redirect-to-main-page:hover {
    color: #1f601f;
}
 
.redirect-to-main-page:active {
     color:#329a32;
 }

/* Mobile Change Password Page*/

@media(max-width:630px) {
    .change-password-title {
        font-size:50px;
        margin-left:25px;
    }
}

@media(min-width:631px) and (max-width:950px) {
    .change-password-title {
        font-size:80px;
        margin-left:-90px;
    }
}

@media(max-width:499px) {
    .change-password-title {
        margin-left:-30px;
        font-size:40px;
    }

    #changePasswordContainer {
        width:300px !important;
    }

    .updated-password {
        margin-left:30px;
    }
    
    .redirect-to-main-page {
        margin-left:150px;
    } 
}